:root {
  --color-back: #000000;
  --color-back-bright: #022b50;
  --color-back-brighter: #04579f;
  --color-front: #ffffff;
  --color-front-alt: #5f95dd;
  --color-primary: #2e5486;
  --color-primary-bright: #5f95dd;
  --color-primary-dark: #1e3757;
  --color-primary-darker: #0b2242;
  --color-primary-contrast: #ffffff;
  --color-button: #9690b3;
  --color-button-bright: #fffdfe;
  --color-button-dark: #746d88;
  --color-button-darker: #35323d;
  --color-button-contrast: #000000;
  --color-button-disabled: #464354;
  --color-button-disabled-bright: #777677;
  --color-button-disabled-dark: #36333f;
  --color-button-disabled-darker: #19171c;
  --color-scrollbar: #a6d5fd;
  --color-input-placeholder: #9690b3;
  --color-input-disabled-bg: #464354;

  --font-family: "Ubuntu Mono", monospace;
}

* {
  user-select: none;
}

body {
  margin: 0;
  background: var(--color-back);
  color: var(--color-front);
  font-size: 12px;
  font-family: var(--font-family);
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-back);
}

::-webkit-scrollbar-corner {
  background: var(--color-scrollbar);
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-back);
  background-clip: padding-box;
}

::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-style: solid;
  border-color: var(--color-back);
  border-width: 2px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:corner-present:horizontal {
  border-width: 2px 0 2px 2px;
}

::-webkit-scrollbar-thumb:corner-present:vertical {
  border-width: 2px 2px 0 2px;
}

// Button

.button {
  background: var(--color-back);
  padding: 1px;
  border: none;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.button__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-button-contrast);
  background: var(--color-button);
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-button-bright) var(--color-button-darker) var(--color-button-dark)
    var(--color-button-bright);
  padding: 3px 8px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  font-family: var(--font-family);
}

.button:focus {
  outline: 1px dotted var(--color-front);
}

.button:not(:disabled):active > .button__content {
  transform: translate(1px, 1px);
}

.button:disabled > .button__content {
  background: var(--color-button-disabled);
  border-color: var(--color-button-disabled-bright) var(--color-button-disabled-darker)
    var(--color-button-disabled-dark) var(--color-button-disabled-bright);
}

// DataTable

.data-table {
  overflow: hidden;
  position: relative;
}

.data-table__table {
  overflow: auto;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-front);
  background: var(--color-back-bright);
}

.data-table__head {
  grid-template-columns: inherit;
  flex: 0 0 auto;
  position: sticky;
  z-index: 1;
  top: 0;
  min-width: 100%;
  background: inherit;
}

.data-table__body {
  grid-template-columns: inherit;
  flex: 0 0 auto;
  min-width: 100%;
}

.data-table__row {
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  min-width: 100%;

  .data-table__body & {
    position: relative;
    cursor: pointer;

    &--selected {
      background: var(--color-back-brighter);
    }
  }

  .data-table__head & {
    border-bottom: 1px solid var(--color-back);
  }
}

.data-table__cell {
  min-width: 0;
  overflow: hidden;
  padding: 0 8px;

  .data-table__head & {
    height: 24px;
  }
}

.data-table__cell-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  text-align: start;
  white-space: nowrap;
}

.data-table__overlay {
  z-index: 1;
}

.data-table__grip {
  position: absolute;
  top: 0;
  cursor: col-resize;
  pointer-events: all;
  border-left: 1px solid var(--color-back);
  min-height: 100%;

  &::after {
    display: block;
    content: "";
    position: absolute;
    inset: 0 -10px 0 -9px;
  }
}

// Input

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input__bottom {
  display: flex;
  gap: 4px;
}

.input input {
  flex: 1 1 auto;
  padding: 4px 8px;
  font-size: 12px;
  font-family: var(--font-family);
  color: var(--color-front);
  background: var(--color-back);
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primary-dark) var(--color-primary-bright) var(--color-primary-bright)
    var(--color-primary-darker);
  outline-offset: -4px;
}

.input input:focus {
  outline: 1px dotted var(--color-front);
}

.input input:disabled {
  background: var(--color-input-disabled-bg);
}

.input input::placeholder {
  color: var(--color-input-placeholder);
}

.input.error input:not(:focus) {
  outline: 1px dotted red;
}

// Dialog

.dialog {
  padding: 0;
  color: var(--color-front);
  border-color: var(--color-back);
  min-width: 320px;
}

.dialog::backdrop {
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 2 2'%3E%3Cpath d='M1 0h1v1H1zM0 1h1v1H0z'/%3E%3C/svg%3E");
}

// Outset

.outset {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primary-bright) var(--color-primary-darker) var(--color-primary-dark)
    var(--color-primary-bright);
  background: var(--color-primary);
  color: var(--color-primary-contrast);
  padding: 4px;
  overflow: hidden;
}

// OutsetHead

.outset-head {
  text-align: center;
  padding: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 2 2'%3E%3Cpath d='M1 0h1v1H1zM0 1h1v1H0z'/%3E%3C/svg%3E");
}

// Inset

.inset {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primary-dark) var(--color-primary-bright) var(--color-primary-bright)
    var(--color-primary-darker);
  color: var(--color-front-alt);
  background: var(--color-back-bright);
  overflow: auto;
  white-space: pre;
  user-select: text;
  padding: 4px 8px;
}

// List

.list {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primary-dark) var(--color-primary-bright) var(--color-primary-bright)
    var(--color-primary-darker);
  background: var(--color-back-bright);
  overflow: auto;
  height: 100%;
}

.list:focus {
  outline: 1px dotted var(--color-front);
  outline-offset: -2px;
}

.list__item {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 4px 8px;
  cursor: pointer;

  &--selected {
    background: var(--color-back-brighter);
  }
}

// TextArea

.text-area {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text-area__bottom {
  display: flex;
  gap: 4px;
}

.text-area textarea {
  flex: 1 1 auto;
  padding: 4px 8px;
  font-size: 12px;
  font-family: var(--font-family);
  color: var(--color-front);
  background: var(--color-back);
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primary-dark) var(--color-primary-bright) var(--color-primary-bright)
    var(--color-primary-darker);
  outline-offset: -4px;
  resize: none;
  white-space: pre;
}

.text-area textarea:focus {
  outline: 1px dotted var(--color-front);
}

.text-area textarea:disabled {
  background: var(--color-input-disabled-bg);
}

.text-area textarea::placeholder {
  color: var(--color-input-placeholder);
  white-space: pre;
}

.text-area.error textarea:not(:focus) {
  outline: 1px dotted red;
}

// Divider

.divider {
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-primary-dark) var(--color-primary-bright) var(--color-primary-bright)
    var(--color-primary-darker);
  background: var(--color-back-bright);
  overflow: hidden;
  margin: 0 4px;
}

// Checkbox

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
}

.checkbox label {
  padding: 2px 0;
}

.checkbox input {
  flex: 0 0 auto;
  appearance: none;
  background: var(--color-back);
  padding: 1px;
  border: none;
  display: flex;
  margin: 0;
}

.checkbox input::before,
.checkbox input::after {
  width: 4ch;
  content: "";
  text-align: center;
  display: block;
  background: var(--color-button);
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-button-bright) var(--color-button-darker) var(--color-button-dark)
    var(--color-button-bright);
  color: var(--color-front);
  font-size: 10px;
  font-family: var(--font-family);
}

.checkbox input:not(:checked)::after {
  content: attr(data-off);
  background: transparent;
  border-color: transparent;
}

.checkbox input:checked::before {
  content: attr(data-on);
  background: transparent;
  border-color: transparent;
}

.checkbox input:disabled:not(:checked)::before {
  background: var(--color-button-disabled);
  border-color: var(--color-button-disabled-bright) var(--color-button-disabled-darker)
    var(--color-button-disabled-dark) var(--color-button-disabled-bright);
}

.checkbox input:disabled:checked::after {
  background: var(--color-button-disabled);
  border-color: var(--color-button-disabled-bright) var(--color-button-disabled-darker)
    var(--color-button-disabled-dark) var(--color-button-disabled-bright);
}

.checkbox input:focus {
  outline: 1px dotted var(--color-front);
}
